body {

  background-image: url("VirusImage.jpg");
}
#slider{

  width:300px;
  height:150px;
  background-image: url("Play.png");
}
#resultaat{
  position: absolute;
  color: yellow;
  text-align: center;
  font-size: 100px;
  left: 35%;
  top:25px;
  font-family:papyrus;
  font-weight:bold;
}
#Counter {
  color:blue;
  font-size: 20px;
  font-weight:bold;
}
